body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    width: 400px;
    margin: 30px auto;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.note {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
