body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    transition: 0.3s;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.container {
    width: 400px;
    margin: 20px auto;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
}

.note {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: left;
}

.dark-mode .note {
    background: #1e1e1e;
}

.pinned {
    border-left: 5px solid gold;
}
